services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=url-shortener
      - POSTGRES_PASSWORD=123456789
      - POSTGRES_DB=urldb

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U url-shortener -d urldb"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    image: postgres:15
    depends_on:
      db:
        condition: service_healthy
    environment:
      - PGPASSWORD=123456789
    command: >
        psql -h db -U url-shortener -d urldb -f /migrations/0001_table_up.sql
    volumes:
      - ./migrations:/migrations