services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    profiles:
      - in_memory
      - with_db
    depends_on:
      db:
        condition: service_started
        required: false
  db:
    image: postgres:15
    env_file:
      - .env
    profiles:
      - with_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: